.header__logo{
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;

  width: 80px;
  margin: 0 24px;

  & .header__logo_top, & .header__logo_bot {
    height: 20px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
  & .header__logo_top{
    color: #fff;
  }
  & .header__logo_bot{
    color: #2196F3;
    background-color: #fff;
  }
}



